language: "node_js"


env:
  global:
    - GH_TOKEN: 2f6e9d835c8fb7a617e0fe909a203bc960335f52

node_js:
 - "node"
install:
 - "npm install gitbook -g"
 - "npm install -g gitbook-cli"
script:
 - "gitbook build"
after_success:
 - "sh deploy.sh"

